<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Operadoras ANS</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

<div id="app">
  <h1>Operadoras de Saúde</h1>

  <button @click="carregarOperadoras">Carregar Operadoras</button>

  <ul>
    <li v-for="op in operadoras" :key="op.CNPJ">
      <strong>{{ op.Razao_Social }}</strong>
      ({{ op.CNPJ }})
      <button @click="verDespesas(op.CNPJ)">Despesas</button>
    </li>
  </ul>

  <hr>

  <h2 v-if="despesas.length">Despesas da Operadora</h2>
  <ul>
    <li v-for="d in despesas" :key="d.Trimestre">
      {{ d.Trimestre }} - R$ {{ d.ValorDespesas.toFixed(2) }}
    </li>
  </ul>
</div>

<script>
const { createApp } = Vue

createApp({
  data() {
    return {
      operadoras: [],
      despesas: [],
      page: 1,
      limit: 5
    }
  },
  methods: {
    async carregarOperadoras() {
      const res = await fetch(
        `http://127.0.0.1:5000/api/operadoras?page=${this.page}&limit=${this.limit}`
      )
      const data = await res.json()
      this.operadoras = data.data
    },
    async verDespesas(cnpj) {
      const res = await fetch(
        `http://127.0.0.1:5000/api/operadoras/${cnpj}/despesas`
      )
      const data = await res.json()
      this.despesas = data.data
    }
  }
}).mount("#app")
</script>

</body>
</html>
